
<div class="container">
    <div class="col-md-12 text-center">
        <h1> Search Politweets: </h1>
    </div>

    <div class "container">
        <div class=col-md-4> </div>
        <div class="col-md-4 text-center">

            <div class="form-group">
                <form action="/tweets" method="post">
                    <div class="form-group">
                        <input class="form-control" type="text" name="name" placeholder: "Enter name here"/>
                    </div>
                    <div>
                        <input id="sub" class="btn btn-info" type="submit" value="Submit" />
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-4"> </div>
    </div>
    <div id="padder"> </div>

</div>
