<h1> Projects </h1>

<form action='/' method='get'>
  <input type='submit' value='Search projects' />
</form>

<ul id='projects'>
  <% @projects.each do |project| %>
  <li>
    <%= project.title %>
    <%= project.materials %>
    <%= project.instructions %>
  </li>
  <% end %>
</ul>
