<h1> Projects </h1>

<form action='/' method='get'>
  <input type='submit' value='Search projects' />
</form>

<ul id='projects'>
  <% @projects.each do |project| %>
  <li>
    <a href="/projects/<%= project.id %>", name='id'>
      <%= project.title %>
    </a>
  </li>
  <% end %>
</ul>
