<h1> New Project </h1>
<form action='/projects' method='post'>
  <label for='title'>Title</label>
  <input type ='text' name='title' />
  <label for='materials'>Materials</label>
  <input type='text' name='materials' />
  <label for='instructions'>Instructions</label>
  <input type='text' name='instructions' />
  <input type='submit' value='Create project!' />
</form>
