<h1> New Project </h1>
<form action='/projects' method='post'>
  <div class="form-group">
    <label for='title'>Title</label>
    <input type ='text' class="form-control" name='title' />
  </div>
  <div class="form-group">
    <label for='material_1'>Material 1</label>
    <input type='text' class="form-control" name='material_1' />
  </div>
  <div class="form-group">
    <label for='material_2'>Material 2</label>
    <input type='text' class="form-control" name='material_2' />
  </div>
  <div class="form-group">
    <label for='instructions'>Instructions</label>
    <input type='text' class="form-control" name='instructions' />
  </div>
  <div class="form-group">
    <label for='image_URL'>Image link</label>
    <input type='text' class="form-control" name='image_URL' />
  </div>
  <div class="form-group">
    <label for='author'>Author</label>
    <input type='text' class="form-control" name='author' />
  </div>
  <input type='submit' value='Create project!' />
</form>
