.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.Header-title {
  background-color: #222;
  height: 40px;
  padding: 20px;
  color: white;
}
.App-intro {
  font-size: large;
}

.Todo-App {
  padding-top:20px;
  display: inline-block;
  text-align: left;
}

input {
  font-size: 20px
}

ul {
  padding: 0px;
}

li {
  list-style-type: none;
}
