<h1> Super Crafts! </h1>
<h2> Enter your materials and see what you can make: </h2>
<form action='/search' method='post'>
  <input type='text' name='material_1' />
  <input type='text' name='material_2' />
  <input type='submit' value='Search'/>
</form>

<form action='/projects/new' method='get'>
  <input type='submit' value='Add project' />
</form>

<form action='/projects' method='get'>
  <input type='submit' value='See all projects' />
</form>
