
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Sentiment Anlysis</title>
<script src="/jquery.js"></script>
<script src="/src/sentimentAnalysis.js"> </script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<%= partial :"partials/navbar" %>
<div class="container">
<%= yield %>
</div>


</body>
</html>
